<div class="container">
  <h1 class="text-center bg-success text-white">Confirm Resisters</h1>

  <div *ngIf="resistersData.length; then thenBlock; else elseBlock"></div>

  <ng-template #thenBlock>
    <table
      class="table table-striped table-bordered table-success text-center mt-3"
    >
      <thead>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>MOBILE</th>
        <th>QUALIFICATION</th>
        <th>PASSWORD</th>
      </thead>
      <tbody>
        <tr *ngFor="let resister of resistersData">
          <td>{{ resister.name }}</td>
          <td>{{ resister.email }}</td>
          <td>{{ resister.mobile }}</td>
          <td>{{ resister.select }}</td>
          <td>{{ resister.password }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  <ng-template #elseBlock>
    <h2 class="text-center text-danger mt-3">
      No Confirm Resisters Data Avialible
    </h2>
  </ng-template>
</div>
