<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" routerLink="">ASSIGNMENTS</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav ">
    <li class="nav-item">
        <a class="nav-link" routerLink="color" routerLinkActive="active"
          >Color</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="resister" routerLinkActive="active"
          >Resister</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="view1" routerLinkActive="active"
          >View1</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="view2" routerLinkActive="active"
          >View2</a
        >
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="arithmatic" routerLinkActive="active"
          >Arithmatic</a
        >
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="user" routerLinkActive="active">User</a>
      </li>
     <li class="nav-item">
        <a
          class="nav-link"
          routerLink="form-validation"
          routerLinkActive="active"
          >Form Validation</a
        >
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="employee" routerLinkActive="active"
          >Employee</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="student" routerLinkActive="active"
          >Student</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="component-interaction"
          routerLinkActive="active"
        >
          Component Interaction
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="services" routerLinkActive="active">
          Services
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="life-cycle-hook"
          routerLinkActive="active"
        >
          Life Cycle Hook
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pipe" routerLinkActive="active">
          Pipe
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="http" routerLinkActive="active">
          HTTP
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="lazy" routerLinkActive="active">
          Lazy Loading
        </a>
      </li> 
    </ul>
  </div>
</nav>
