<h1 class="text-center display-4 bg-danger text-white pb-2">Calculator</h1>
<div class="container mt-3">
  <div class="row text-white mt-5">
    <div class="jumbotron bg-dark col-md-6 offset-md-3 p-4 pt-3">
      <label for="num1">Number 1</label>
      <input type="number" class="form-control" #num1 placeholder="Type a Number" />

      <label for="num2" class="mt-2">Number 2</label>
      <input type="number" class="form-control" #num2 placeholder="Type a Number" />

      <div class="btn btn-group w-100 p-0 mt-3">
        <button class="btn btn-success" (click)=getSum(num1.value,num2.value)><b>+</b></button>
        <button class="btn btn-danger ml-3" (click)=getSub(num1.value,num2.value)><b>-</b></button>
        <button class="btn btn-primary ml-3" (click)=getMul(num1.value,num2.value)><b>x</b></button>
        <button class="btn btn-warning text-white ml-3" (click)=getDiv(num1.value,num2.value)>
          <b>/</b>
        </button>
      </div>
    </div>
  </div>

  <h4 class="text-center display-4 lead bg-success text-white">{{result}}</h4>
</div>
